{% load static %}
<!doctype html>
<html>
   <head>
      <!-- Required meta tags-->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Title Page-->
      <title>{% block pagename %}Застава {% endblock %}</title>
      <!-- Fontfaces CSS-->
      <link href="{% static "css/font-face.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/font-awesome-4.7/css/font-awesome.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/font-awesome-5/css/fontawesome-all.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/mdi-font/css/material-design-iconic-font.min.css" %}" rel="stylesheet" media="all">
      <!-- Bootstrap CSS-->
      <link href="{% static "vendor/bootstrap-4.1/bootstrap.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/bootstrap-4.1/bootstrap.css" %}" rel="stylesheet" media="all">
      <!-- Vendor CSS-->
      <link href="{% static "vendor/animsition/animsition.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/wow/animate.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/slick/slick.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/select2/select2.min.css" %}" rel="stylesheet" media="all">
      <link href="{% static "vendor/perfect-scrollbar/perfect-scrollbar.css" %}" rel="stylesheet" media="all">
      <!-- Main CSS-->
      <link href="{% static "css/theme.css" %}" rel="stylesheet" media="all">

   </head>
   <body class="animsition">
      <div class="page-wrapper">
      <!-- HEADER MOBILE-->
      <header class="header-mobile d-block d-lg-none">
         <div class="header-mobile__bar">
            <div class="container-fluid">
               <div class="header-mobile-inner">
                  <a class="logo" href="/">
                  <img src="{% static "images/icon/logo.png" %}" alt="Audit" />
                </a>0.1.0
                  <button class="hamburger hamburger--slider" type="button">
                  <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                  </span>
                  </button>
               </div>
            </div>
         </div>
         <nav class="navbar-mobile">
            <div class="container-fluid">
               <ul class="navbar-mobile__list list-unstyled">
                 <li class="has-sub">
                      <li class="has-sub">
                         <a class="js-arrow" href="/active">
                         <i class="fas fa-copy"></i>Начальная страница</a>
                      </li>
                      <li class="has-sub">
                         <a class="js-arrow" href="/active/new_audit">
                         <i class="fas fa-edit"></i>Новый аудит</a>
                      </li>
                      <li class="has-sub">
                         <a class="js-arrow" href="/active/scapy">
                         <i class="fas fa-copy"></i>Генератор пакетов</a>
                      </li>
                      <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-folder-open"></i>Опции</a>
                      <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                              <a href="/admin">
                              <i class="fas fa-gear"></i>Администрирование</a>
                           </li>
                      </ul>
                      </li>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <!-- END HEADER MOBILE-->
      <!-- MENU SIDEBAR-->
      <aside class="menu-sidebar d-none d-lg-block">
         <div class="logo">
            <a href="/">
            <img src="{% static "images/icon/logo.png" %}" alt="Audit" />
          </a>0.1.0
         </div>
         <div class="menu-sidebar__content js-scrollbar1">
            <nav class="navbar-sidebar">
               <ul class="list-unstyled navbar__list">
                 <li class="has-sub">
                      <li class="has-sub">
                         <a class="js-arrow" href="/active">
                         <i class="fas fa-copy"></i>Начальная страница</a>
                      </li>
                      <li class="has-sub">
                         <a class="js-arrow" href="/active/new_audit">
                         <i class="fas fa-edit"></i>Новый аудит</a>
                      </li>
                      <li class="has-sub">
                         <a class="js-arrow" href="/active/scapy">
                         <i class="fas fa-copy"></i>Генератор пакетов</a>
                      </li>
                      <li class="has-sub">
                      <a class="js-arrow" href="#">
                          <i class="fas fa-folder-open"></i>Опции</a>
                      <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                          <li>
                              <a href="/admin">
                              <i class="fas fa-gear"></i>Администрирование</a>
                           </li>
                      </ul>
                      </li>
                  </li>
               </ul>
            </nav>
         </div>
      </aside>
      <!-- END MENU SIDEBAR-->
      <!-- PAGE CONTAINER-->
      <div class="page-container">
      <!-- HEADER DESKTOP-->
      <header class="header-desktop">
         <div class="section__content section__content--p30">
            <div class="container-fluid">
               <div class="header-wrap">
                  <h3 class="pb-2 display-5">Аудит телекоммуникационного оборудования</h3>
               </div>
            </div>
         </div>
      </header>
      <!-- HEADER DESKTOP-->
      <!-- MAIN CONTENT-->
      <div class="main-content">
         <div class="section__content section__content--p30">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <div class="card">
                        <div class="card-header">
                           <strong class="card-title">{% block title %}Начальная страница{% endblock %}</strong>
                        </div>
                        <div class="card-body">
                           {% block content %}
                           <div class="typo-headers">
                              <h3 class="pb-2 display-5">Данное ПО предназначено для выявления уязвимостей в настройках телекоммуникационного оборудования. <br>В качестве исходных данных используются конфигурационные файлы поддерживаемых устройств.</h3>
                           </div>
                           <div class="vue-lists">
                              <div class="row">
                                 <div>
                                    <ol class="vue-ordered">
                                       <li>Для старта процесса проверки перейдите по ссылке из меню слева<em>&quot;Новый аудит&quot;</em>.</li>
                                       <li>Для просмотра уже проведенных операций и отчетов по ним перейдите по вкладке <em>&quot;Отчеты&quot;</em>.</li>
                                       <li>Построить карту сети по имеющумся конфигурационному файлу перейдите на вкладку <em>"Карта сети"</em>.</li>
                                       <li>Вы можете настраивать свои параметры проверок, добавлять новые при помощи движка регулярных выражений или в виде отдельных модулей, для этого перейдите на вкладку <em>&quot;Опции&quot;</em></li>
                                       <li>Для создания собственных шаблонов проверок, перейдите на вкладку <em>"Шаблоны проверок"</em>.</li>
                                    </ol>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>serializers.serialize(
                  <div class="col-md-4">
                     <div class="card">
                        <img class="card-img-top" src="{% static "images/5cc6eb26c3a7c11c6639b4d3-960-640.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                           <h4 class="card-title mb-3">Проверка оборудования по шаблонам от известных IT-компаний и научных институтов</h4>
                           <!--<p class="card-text">Текст-->
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">serializers.serialize(
                     <div class="card">
                        <img class="card-img-top" src="{% static "images/Switch-Photo-01.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                           <h4 class="card-title mb-3">Возможность самому создавать проверки и шаблоны к ним</h4>
                           <!--<p class="card-text">Текст-->
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card">
                        <img class="card-img-top" src="{% static "images/technology-top.jpg" %}" alt="Card image cap">
                        <div class="card-body">
                           <h4 class="card-title mb-3">Простота использования для системного администратора</h4>
                           <!--<p class="card-text">Текст-->
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="au-card m-b-30">
                        <div class="au-card-inner">
                           <h3 class="title-2 m-b-40">Количество устройств по классам</h3>
                           <canvas id="doughutChart"></canvas>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <div class="au-card m-b-30">
                        <div class="au-card-inner">
                           <h3 class="title-2 m-b-40">Количество проверок по устройствам</h3>
                           <canvas id="singelBarChart"></canvas>
                        </div>
                     </div>
                  </div>
                  {% endblock %}
                  {% block optional %}
                  {% endblock %}
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="copyright">
                     <p>Cканер © 2019 ВКА им. А.Ф. Можайского</p>
                  </div>
               </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
         </div>
      </div>
      <!-- Jquery JS-->
      <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
      <!-- Bootstrap JS-->
      <script src="{% static "vendor/bootstrap-4.1/popper.min.js" %}"></script>
      <script src="{% static "vendor/bootstrap-4.1/bootstrap.min.js" %}"></script>
      <!-- Vendor JS       -->
      <script src="{% static "vendor/slick/slick.min.js" %}">
      </script>
      <script src="{% static "vendor/wow/wow.min.js" %}"></script>
      <script src="{% static "vendor/animsition/animsition.min.js" %}"></script>
      <script src="{% static "vendor/bootstrap-progressbar/bootstrap-progressbar.min.js" %}">
      </script>
      <script src="{% static "vendor/counter-up/jquery.waypoints.min.js" %}"></script>
      <script src="{% static "vendor/counter-up/jquery.counterup.min.js" %}">
      </script>
      <script src="{% static "vendor/circle-progress/circle-progress.min.js" %}"></script>
      <script src="{% static "vendor/perfect-scrollbar/perfect-scrollbar.js" %}"></script>
      <script src="{% static "vendor/chartjs/Chart.bundle.min.js" %}"></script>
      <script src="{% static "vendor/select2/select2.min.js" %}">
      </script>
      <!-- Main JS-->
      <script src="{% static "js/main.js" %}"></script>

      <!-- График_1 JS-->
      <script type='text/javascript'>
        try {

          //doughut chart
          var ctx = document.getElementById("doughutChart");
          if (ctx) {
            ctx.height = 150;
            var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                datasets: [{
                  data: {{ count_dev_list|safe }},
                  backgroundColor: [
                    "rgba(0, 123, 255,0.9)",
                    "rgba(0, 123, 255,0.7)",
                    "rgba(0, 123, 255,0.5)",
                    "rgba(0, 123, 255,0.3)",
                    "rgba(0,0,0,0.07)"
                  ],
                  hoverBackgroundColor: [
                    "rgba(0, 123, 255,0.9)",
                    "rgba(0, 123, 255,0.7)",
                    "rgba(0, 123, 255,0.5)",
                    "rgba(0, 123, 255,0.3)",
                    "rgba(0,0,0,0.07)"
                  ]
                }],
                labels: {{ dev_list|safe }}
              },
              options: {
                legend: {
                  position: 'top',
                  labels: {
                    fontFamily: 'Poppins'
                  }
                },
                responsive: true
              }
            });
          }
        } catch (error) {
          console.log(error);
        }
      </script>
         <!-- График_2 JS-->
      <script type='text/javascript'>
        try {

          // single bar chart
          var ctx = document.getElementById("singelBarChart");
          if (ctx) {
            ctx.height = 150;
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: {{ dev_list|safe }},
                datasets: [
                  {
                    label: "Количество проверок",
                    data: {{ count_check_list }},
                    borderColor: "rgba(0, 123, 255, 0.9)",
                    borderWidth: "0",
                    backgroundColor: "rgba(0, 123, 255, 0.5)"
                  }
                ]
              },
              options: {
                legend: {
                  position: 'top',
                  labels: {
                    fontFamily: 'Poppins'
                  }
                },
                scales: {
                  xAxes: [{
                    ticks: {
                      fontFamily: "Poppins"
                    }
                  }],
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                      fontFamily: "Poppins"
                    }
                  }]
                }
              }
            });
          }
        } catch (error) {
          console.log(error);
        }
      </script>
   </body>
</html>
