#container {
  max-width: 400px;
  height: 400px;
  margin: auto;
}
#graph {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.tooltip1 {
  display: none;
  padding: 15px;
  position: absolute;
  background: #000;
  border-radius: 4px;
  font-size: small;
  color: #fff;
  width: 300px;
  height: 200px;
  overflow: scroll;
  text-overflow: ellipsis;

}
