{% extends 'index.html' %}
{% load static %}
{% block title %} Начальная страница {% endblock %}
{% block content %}
<body>
   <form action="" method="{{ method }}" enctype="multipart/form-data">
     <div class="typo-headers">
        <h3 class="pb-2 display-5">Данное ПО предназначено для выявления уязвимостей в настройках телекоммуникационного оборудования.
          <br>В качестве исходных данных необходимо физическое подключение к поддерживаемому устройству.</h3>
     </div>
     <div class="vue-lists">
        <div class="row">
           <div>
              <ol class="vue-ordered">
                 <li>Для старта процесса проверки перейдите по ссылке из меню слева<em>&quot;Новый аудит&quot;</em>.</li>

              </ol>
           </div>
        </div>
     </div>
     <div class="row">
       <div class="col-md-4">
       <div class="card">
       <img class="card-img-top" src="{% static "images/5cc6eb26c3a7c11c6639b4d3-960-640.jpg" %}" alt="Card image cap">
       <div class="card-body">
       <h4 class="card-title mb-3">Проверка оборудования по шаблонам от известных IT-компаний и научных институтов</h4>

       </div>
       </div>
       </div>
       <div class="col-md-4">
       <div class="card">
       <img class="card-img-top" src="{% static "images/Switch-Photo-01.jpg" %}" alt="Card image cap">
       <div class="card-body">
       <h4 class="card-title mb-3">Возможность самому создавать проверки и шаблоны к ним</h4>

       </div>
       </div>
       </div>
       <div class="col-md-4">
       <div class="card">
       <img class="card-img-top" src="{% static "images/technology-top.jpg" %}" alt="Card image cap">
       <div class="card-body">
       <h4 class="card-title mb-3">Простота использования для системного администратора</h4>

       </div>
       </div>
       </div>
    </div>


   </form>
</body>
{% endblock %}
