{% extends 'index.html' %}
{% block title %} Запуск нового дерева аудита {% endblock %}
{% block content %}
<body>
   <form action="/active/start_audit/" method="{{ method }}"  enctype="multipart/form-data">
      <div class="row form-group">
         <br>
         <div class="col col-md-9">
            <table>
              <div class="typo-headers">
                 <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">IP адрес устройства</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ip_address" name="ip_address" placeholder="IP" class="form-control">
                        <small class="form-text text-muted">Введите IP адрес устройства</small>
                    </div>
                  </div>

                  <br>
                  <h4 class="m-b-10">Выбор ветвей для дерева аудитов</h4>
                    <ul class="list-group list-group-flush">
                      {% for i in currentList %}
                      <li class="list-group-item">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" name ="check_{{ forloop.counter }}"  class="custom-control-input" id="check_{{ forloop.counter }}" checked>
                              <label class="custom-control-label" for="check_{{ forloop.counter }}">
                                {% for j in i %}
                                  {{ j }}
                                {% endfor %}
                              </label>
                            </div>
                     </li>
                     {% endfor %}
                   </ul>

                   <br>
              </div>
            </table>
         </div>
      </div>
       <button type="submit" id="main_btn" value="Поехали!" class="btn btn-primary">Поехали!</button>
   </form>
</body>
{% endblock %}
