{% extends 'index.html' %}
{% load static %}
{% block title %} Алоха {% endblock %}
{% block content %}


  <form method="POST" name = "nvd_List" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <!--Выбор vendor-->
        <div class="form-group col col-sm">
          <div class="col">

            <select onchange="changeListOfitems(this)" class="form-control browser-default custom-select" name="select">

              {% for i in vendors %}
              <option value={{ forloop.counter }}> {{ i }} </option>
              {% endfor %}

            </select>
          </div>
        </div>

        <!-- Выбор Hardware or Application -->
        <div onchange="changeListOfitems(this)" class="form-group col col-sm">
          <div class="col">
            <div class="custom-control custom-radio">
              <input value="Hardware" type="radio" class="custom-control-input" id="typeCPEharware" name="groupOfDefaultRadios">
              <label class="custom-control-label" for="typeCPEharware">Hardware</label>
            </div>
            <div class="custom-control custom-radio">
              <input value="Application" type="radio" class="custom-control-input" id="typeCPEapplication" name="groupOfDefaultRadios" checked>
              <label class="custom-control-label" for="typeCPEapplication">Application</label>
            </div>
          </div>
        </div>
        <!--Выбор конкретного Application или Hardware cpe-->
        <div class="form-group col col-sm" onchange="creteListOfCve(this)">
          <div class="col">
            <select   id="listOfitems" class="form-control browser-default custom-select" name="select2">
            </select>
          </div>
        </div>

      </div>
    </div>
  </form>
<div class="panel panel-info">
  <div onclick="opendiv(this)" class="panel-heading">
    <h3 class="panel-title">Полный список CVE</h3>
  </div>
  <div onclick="event.stopPropagation()" class="panel-body" id='AllCpeCve' style='display:none'></div>
</div>

<div class="panel panel-success">
  <div onclick="opendiv2(this)" class="panel-heading">
    <h3 class="panel-title">Полный список CVE</h3>
  </div>
  <div onclick="event.stopPropagation()" class="panel-body" id='AllCpeCve2' style='display:none'>
    <form id="form2" method="POST" name="form2" enctype="multipart/form-data">
    </form>
  </div>
</div>


  <script type="text/javascript">
    function opendiv(e)
    {

      if ( document.getElementById('AllCpeCve').style.display != "none" ) {
        document.getElementById('AllCpeCve').style.display = 'none';
        console.log('true');
      }
      else {
        console.log('false');
        document.getElementById('AllCpeCve').style.display = '';
      }
    }
    function opendiv2(e)
    {

      if ( document.getElementById('AllCpeCve2').style.display != "none" ) {
        document.getElementById('AllCpeCve2').style.display = 'none';
        console.log('true');
      }
      else {
        console.log('false');
        document.getElementById('AllCpeCve2').style.display = '';
      }
    }
    function httpGet(getUrl)
    {
      var xmlHttp = new XMLHttpRequest();
      xmlHttp.open("GET", getUrl, false);
      xmlHttp.send(null);

      return xmlHttp.responseText;
    }
    function changeListOfitems(e)
    {

      let xhr = new XMLHttpRequest();
      let body = new FormData(document.forms.nvd_List)
      xhr.open("POST", "../nvd_get_listOfitems/", false)
      body.append('ListOfCve',false)
      xhr.send(body)
      console.log(xhr.response)
      var json_dict = JSON.parse( xhr.response );

      var e1 = document.getElementById("listOfitems");

      var child1 = e1.lastElementChild;
      while (child1) {
          e1.removeChild(child1);
          child1 = e1.lastElementChild;
      }
      var iter = 0;
      for (i in json_dict)
      {
        var opt = document.createElement("option");
        opt.setAttribute('value', json_dict[i].fields.name);
        var t = document.createTextNode(json_dict[i].fields.name);
        opt.appendChild(t)
        document.getElementById("listOfitems").appendChild(opt);
        iter+=1;
      }
    }
    function creteListOfCve(e)
    {
      let xhr = new XMLHttpRequest();
      let body = new FormData(document.forms.nvd_List)
      body.append('ListOfCve', true)
      xhr.open("POST", "../nvd_get_listOfitems/", false)
      xhr.send(body)
      var e1 = document.getElementById("AllCpeCve");

      var child1 = e1.lastElementChild;
      while (child1) {
          e1.removeChild(child1);
          child1 = e1.lastElementChild;
      }
      var table = document.createElement("table");
      table.setAttribute('class','table');
      var thead = document.createElement("thead");
      var tr =  document.createElement("tr");
      var th = document.createElement('th');
      th.setAttribute('scope', 'col');
      th.appendChild(document.createTextNode("#"));
      tr.appendChild(th)

      th = document.createElement('th');
      th.setAttribute('scope', 'col');
      th.appendChild(document.createTextNode("cpe"));
      tr.appendChild(th)

      th = document.createElement('th');
      th.setAttribute('scope', 'col');
      th.appendChild(document.createTextNode("cve"));
      tr.appendChild(th)

      thead.appendChild(tr)
      table.appendChild(thead)

      var json_dict = JSON.parse( xhr.response );
      var tbody = document.createElement('tbody');
      var iter = 1;
      var td = document.createElement('td');
      for (i in json_dict['list_cve'])
      {
        tr = document.createElement('tr');
        th = document.createElement('th');
        th.setAttribute('scope',  'row');
        th.appendChild(document.createTextNode(iter));
        tr.appendChild(th);
        tbody.appendChild(tr);
        td = document.createElement('td');
        td.appendChild(document.createTextNode(json_dict['list_cve'][i].cpe_name));
        tr.appendChild(td);
        tbody.appendChild(tr);
        td = document.createElement('td');
        td.appendChild(document.createTextNode(json_dict['list_cve'][i].cve_name));
        tr.appendChild(td);
        tbody.appendChild(tr);
        iter+=1;
      }
      table.appendChild(tbody);
      e1.appendChild(table);

      //Работа со второй частью формы

      let e2 = document.getElementById('form2')
      let lastele2=e2.lastElementChild
      while(lastele2)
      {
        e2.removeChild(lastele2)
        lastele2=e2.lastElementChild
      }
      console.log(json_dict['list_modul_cve'])
      for (i in json_dict['list_modul_cve'])
      {
        var div = document.createElement('div');
        div.setAttribute('class', 'checkbox');
        var label = document.createElement('label');
        var input = document.createElement('input');
        input.setAttribute('type', 'checkbox');
        input.setAttribute('value', '');
        input.setAttribute('name', json_dict['list_modul_cve'][i].cve)

        var text = document.createTextNode(json_dict['list_modul_cve'][i].cve)
        label.appendChild(input)
        label.appendChild(text)
        div.appendChild(label)
        e2.appendChild(div)
      }
      var button = document.createElement('button');
      button.setAttribute('type','button');
      button.setAttribute('class','btn btn-primary');
      text = document.createTextNode('Start');
      button.appendChild(text);
      e2.appendChild(button)
    }
    document.addEventListener('DOMContentLoaded', changeListOfitems(), false);
    document.addEventListener('DOMContentLoaded', creteListOfCve(), false);
  </script>


{% endblock %}
