{% extends 'index.html' %}
{% load static %}
{% block title %} Отчеты {% endblock %}
{% block content %}
<div class="list-group">
  {% for dict_element in list_of_dict %}

      <a href="/mainApp/static/{{dict_element.path}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div onclick="download(this)" data-file="{{ dict_element.path }}" class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"></h5>
          <small>{{dict_element.date}}</small>
        </div>
        <p class="mb-1">{{ dict_element.author }}</p>
        <small>{{ dict_element.path }}</small>
      </a>

    {% endfor %}
</div>

{% endblock %}
