{% extends 'index.html' %}
{% block title %} Выполнение аудита... {% endblock %}
{% block content %}
{% load static %}

<body>
  <script src="{% static "vendor/sigma/sigma.core.js" %}"></script>
  <script src="{% static "vendor/sigma/conrad.js" %}"></script>
  <script src="{% static "vendor/sigma/utils/sigma.utils.js" %}"></script>
  <script src="{% static "vendor/sigma/utils/sigma.polyfills.js" %}"></script>
  <script src="{% static "vendor/sigma/sigma.settings.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.dispatcher.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.configurable.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.graph.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.camera.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.quad.js" %}"></script>
  <script src="{% static "vendor/sigma/classes/sigma.classes.edgequad.js" %}"></script>
  <script src="{% static "vendor/sigma/captors/sigma.captors.mouse.js" %}"></script>
  <script src="{% static "vendor/sigma/captors/sigma.captors.touch.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/sigma.renderers.canvas.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/sigma.renderers.webgl.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/sigma.renderers.svg.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/sigma.renderers.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/webgl/sigma.webgl.nodes.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/webgl/sigma.webgl.nodes.fast.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/webgl/sigma.webgl.edges.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/webgl/sigma.webgl.edges.fast.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/webgl/sigma.webgl.edges.arrow.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.labels.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.hovers.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.nodes.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edges.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edges.curve.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edges.arrow.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edges.curvedArrow.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edgehovers.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edgehovers.curve.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edgehovers.arrow.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/canvas/sigma.canvas.extremities.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.utils.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.nodes.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.edges.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.edges.curve.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.labels.def.js" %}"></script>
  <script src="{% static "vendor/sigma/renderers/svg/sigma.svg.hovers.def.js" %}"></script>
  <script src="{% static "vendor/sigma/middlewares/sigma.middlewares.rescale.js" %}"></script>
  <script src="{% static "vendor/sigma/middlewares/sigma.middlewares.copy.js" %}"></script>
  <script src="{% static "vendor/sigma/misc/sigma.misc.animation.js" %}"></script>
  <script src="{% static "vendor/sigma/misc/sigma.misc.bindEvents.js" %}"></script>
  <script src="{% static "vendor/sigma/misc/sigma.misc.bindDOMEvents.js" %}"></script>
  <script src="{% static "vendor/sigma/misc/sigma.misc.drawHovers.js" %}"></script>
  <script src="{% static "vendor/sigma/plugins/sigma.parsers.json/sigma.parsers.json.js" %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />
  <form action="" method="{{ method }}" enctype="multipart/form-data">
      <div class="row form-group">
         <div class="col col-md-12">
           <div class="typo-headers">
                <!--{{ task_id }}-->
           </div>
           <br><br><br><br><br><br><br><br>

           <div id="container">
            <div id="graph-container">
              <div id="graph"></div>
            </div>
            </div>
            <div class="tooltip1" id="tip-1">tooltip1</div>
         </div>
      </div>
   </form>

<button id="report_button" onclick="report_xml(this)" type="button" class="btn btn-info" disabled>Create report</button>
<button id="stop_button" onclick="stop_celery(this)" type="button" class="btn btn-danger">Stop</button>
<script>
  var intervalId
  function httpGet(getUrl)
  {
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", getUrl, false);
    xmlHttp.send(null);
    return xmlHttp.responseText;
  }
  function stop_celery(e)
  {
    var response = httpGet("../stop_celery/")
    e.setAttribute("disabled", "true");
    document.getElementById("report_button").removeAttribute("disabled");
    document.getElementById("report_button").focus();
    window.clearInterval(intervalId);
  }
  function report_xml(e)
  {
    var response = httpGet("../report_xml/")
    window.location.replace('../get_list_report/');
  }
  function RequestJson()
  {
    var response = httpGet("../watcher_tasks_state/")
    document.getElementById("graph").remove()
    document.getElementById("graph-container").insertAdjacentHTML('afterend', '<div id="graph"></div>')

    s = new sigma({
      container: 'graph',
      settings: {
        defaultNodeColor: '#ec5148'
      }
    });
    s.bind("overNode", function (e) {
      window.console.log(e.data)
      var X = e.data.captor.clientX;
      var Y = e.data.captor.clientY;
      if (Y + 200> document.documentElement.clientHeight)
      {
        Y=document.documentElement.clientHeight-202;

      }
      if (X + 300> document.documentElement.clientWidth)
      {
        X=document.documentElement.clientWidth-302;

      }




      var response_tooltip =  httpGet("../get_describe/?label="+e.data.node.label)
      document.getElementById("tip-1").innerHTML=response_tooltip;
      $('#tip-1').css({
        display:"block",
        position: "fixed",
        top: Y,
        left: X
        });
      });
      s.bind("clickStage", function (e) {

        $('#tip-1').css({
          display: "none",
        });
      });

    sigma.parsers.json("{% static "vendor/sigma/data1.json" %}", s, function() {
    s.refresh();})


    var global = intervalId
    if (response=="STOP")
    {
      window.clearInterval(global)
    }

  }

  intervalId = window.setInterval(RequestJson, 10000);
</script>

</body>
{% endblock %}
