{% extends 'index.html' %}
{% load static %}
{% block title %} Запуск нового дерева аудита {% endblock %}
{% block content %}

<body>
      <div class="row form-group">
         <br>
         <div class="col col-md-9">
            <table>
              <div class="typo-headers">
                 <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Отправлено {{ send }} пакетов</label>
                        <label for="text-input" class=" form-control-label">Потеряно {{ lost }}  пакетов</label>
                    </div>

                  </div>

                  <br>


                   <br>
              </div>
            </table>
         </div>
      </div>
      <button class="btn btn-primary" onclick="window.location.replace('/active/scapy/');">Вернуться!</button>
</body>
{% endblock %}
