{% extends 'index.html' %}
{% load static %}
{% block title %} Запуск нового дерева аудита {% endblock %}
{% block content %}
<script src="{% static "js/watcherjs.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />
<body>
   <form action="" method="{{ method }}"  enctype="multipart/form-data">
      <div class="row form-group">
         <br>
         <div class="col col-md-9">
            <table>
              <div class="typo-headers">
                 <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">IP адрес устройства</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="ip_address" name="ip_address"  placeholder="IP" class="form-control">
                        <small class="form-text text-muted">Введите IP адрес устройства</small>
                    </div>
                  </div>
                  <div class="row form-group">
                     <div class="col col-md-3">
                         <label for="text-input" class=" form-control-label">MAC адрес устройства</label>
                     </div>
                     <div class="col-12 col-md-9">
                         <input type="text" id="mac_address" name="mac_address" placeholder="MAC" class="form-control">
                         <small class="form-text text-muted">Введите MAC адрес устройства</small>
                     </div>
                   </div>
                   <h4 class="m-b-10">Выбор сетевых интерфейсов</h4>
                   <ul class="list-group list-group-flush">
                     {% for i in iface %}

                     <li class="list-group-item">
                         <div class="custom-control custom-checkbox">
                           {% if forloop.counter == 1 %}
                           <input type="checkbox"  name ="iface_check_{{ forloop.counter }}"  class="custom-control-input" id="iface_check_{{ forloop.counter }}" checked>
                           {% else %}
                           <input type="checkbox"  name ="iface_check_{{ forloop.counter }}"  class="custom-control-input" id="iface_check_{{ forloop.counter }}">
                           {% endif %}

                             <label class="custom-control-label" for="iface_check_{{ forloop.counter }}">
                               {{ i }}
                             </label>
                           </div>
                    </li>

                    {% endfor %}

                  </ul>
                  <br>
                  <h4 class="m-b-10">Выбор ПБД</h4>

                    <ul class="list-group list-group-flush">
                      <div>
                      {% for i in bin_name %}
                      <li class="list-group-item" >
                          <div class="custom-control custom-checkbox" >
                            <input type="checkbox" name ="bin_check_{{ forloop.counter }}"  class="custom-control-input" id="bin_check_{{ forloop.counter }}" checked>
                              <label class="custom-control-label" for="bin_check_{{ forloop.counter }}" onmouseover="BinDis(this,true)" onmouseout="BinDis(this,false)" data-counter="{{ forloop.counter }}">
                                {{ i }}
                              </label>
                            </div>
                     </li>
                     {% endfor %}
                     <div class="tooltip1" id="tip-1">tooltip1</div>
                     </div>

                   </ul>

                   <br>
              </div>
            </table>
         </div>
      </div>
      <button type="submit" id="main_btn" value="Поехали!" class="btn btn-primary">Отправить пакеты!</button>
   </form>

   <script>
   let tooltipElement;
   function BinDis(e,flag){
     let target = event.target;
     if(flag){
       tt = document.getElementById("tip-1");
       let Y = event.target.getBoundingClientRect().top+event.target.getBoundingClientRect().height;
       let X = event.target.getBoundingClientRect().left+event.target.getBoundingClientRect().width;
       window.console.log(document.documentElement.clientHeight);
       if (Y + 200> document.documentElement.clientHeight)
       {
         Y=document.documentElement.clientHeight-202;
       }
       if (X + 300> document.documentElement.clientWidth)
       {
         X=document.documentElement.clientWidth-302;
       }

       var response_tooltip =  httpGet("../get_l2_describe/?label="+event.target.dataset.counter)
       $('#tip-1').css({
         display:"block",
         position: "fixed",
         top: Y + 'px',
         left: X+'px',
         zIndex: 1000,

         });
         window.console.log(target.dataset.counter);
         tt.innerHTML=response_tooltip;
     }
     else {
       $('#tip-1').css({
         display: "none",
       });
     }


   }
   </script>
</body>
{% endblock %}
